<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Ýlham veren öðretim deneyimleriyle, eðitimin her aþamasýný bir araya getiren yenilikçi dijital platform</h1>
            <hr class="my-4">
            <p class="lead">Eðitimciler, Classroom'u kullanarak kiþiselleþtirilebilir, yönetilebilir ve ölçülebilir özellikler barýndýran ilgi çekici öðrenim deneyimleri oluþturabilir.</p>
            <p class="lead">
                <a class="btn btn-primary" href="Identity/Account/Login" role="button">Classroom'a giriþ yap</a>
            </p>
        </div>
    </div>

   
    <div class="row" style="background-image: url('/images/60743412-siyah-arka-plan-üzerinde-doðrusal-mimari-çizim-iç-okul-sýnýf (1).jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 50vh; margin-top: 20px;">
       
        <div class="col-md-12 text-center my-auto">
            
        </div>
    </div>
</div>
