@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Þifremi Unuttum";
}

<h1>Þifre sýfýrlama baðlantýnýz Email adresinize gönderildi</h1>
<p>
    Lütfen þifrenizi sýfýrlamak için e-postanýzý kontrol edin.
</p>
            