@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayýt Onayý";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Bu uygulama þu anda gerçek bir e-posta göndericisi kaydedilmemiþtir, gerçek bir e-posta göndericisini nasýl yapýlandýracaðýnýzla ilgili <a href="https://aka.ms/aspaccountconf">bu dökümanlara</a> bakabilirsiniz.
            Genellikle bu e-posta ile gönderilir: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabýnýzý onaylamak için buraya týklayýn</a>
        </p>
    }
    else
    {
        <p>
            Lütfen hesabýnýzý onaylamak için e-postanýzý kontrol edin.
        </p>
    }
}
