@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt Onayı";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Bu uygulama şu anda gerçek bir e-posta göndericisi kaydedilmemiştir, gerçek bir e-posta göndericisini nasıl yapılandıracağınızla ilgili <a href="https://aka.ms/aspaccountconf">bu dökümanlara</a> bakabilirsiniz.
            Genellikle bu e-posta ile gönderilir: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı onaylamak için buraya tıklayın</a>
        </p>
    }
    else
    {
        <p>
            Lütfen hesabınızı onaylamak için e-postanızı kontrol edin.
        </p>
    }
}
