@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz sıfırlandı.Lütfen <a asp-page="./Login">Giriş yapmak için buraya tıklayınız.</a>.
</p>
