@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Þifreniz sýfýrlandý.Lütfen <a asp-page="./Login">Giriþ yapmak için buraya týklayýnýz.</a>.
</p>
